.about {
    margin: 30px 0px;
    padding: 20px;
    margin-left: 200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-img img {
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-content h1 {
    color: gray;
    border-bottom: 2px solid gray;
}

.about-content p {
    text-align: justify;
    padding: 20px;
}

/* Media Queries */
@media (max-width: 768px) {
    .about {
        margin-left: 0;
        padding: 10px;
    }
    .about-content h1 {
        font-size: 24px;
    }
    .about-content p {
        padding: 10px;
    }
}

@media (max-width: 600px) {
    .about {
        margin-left: 0;
        padding: 10px;
    }
    .about-content h1 {
        font-size: 20px;
    }
    .about-content p {
        padding: 5px;
        font-size: 14px;
    }
}
